<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mt-5">
          <div class="card-body">
            <div class="table-responsive text-uppercase">
              <table class="table text-nowrap align-middle mb-0">
                <thead>
                  <tr class="border-2 border-bottom border-primary border-0 text-center">
                    <th scope="col" class="ps-0">ID</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Salary Month</th>
                    <th scope="col">Basic Pay</th>
                    <th scope="col">Any Reductions</th>
                    <th scope="col">Total Bonus</th>
                    <th scope="col">Leave Reductions</th>
                    <th scope="col">Total Salary</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                  <tr *ngFor="let data of salaryArray; let i = index">
                    <th scope="row" class="ps-0 fw-medium">
                      <span class="table-link1 text-truncate d-block">{{i+1}}</span>
                    </th>
                    <td>
                      <span class="table-link1 text-truncate d-block">{{data.employee.employee_name}}</span>
                    </td>
                    <td>
                      <span class="table-link1 text-truncate d-block">{{data.salary_month.month_name}}</span>
                    </td>
                    <td class="fw-medium">{{data.base_package}}</td>
                    <td class="fw-medium">{{data.total_reduction}}</td>
                    <td class="fw-medium">{{data.total_bonus}}</td>
                    <td class="fw-medium">{{data.leave_reductions}}</td>
                    <td class="fw-medium">{{data.generated_salary}}</td>
                    <td class="fw-medium">{{data.status.status_name}}</td>
                    <td class="fw-medium" *ngIf="data.status.status_id===1">
                      <button class="btn btn-success" (click)="edit(data.employee_id)">Generate Salary</button>
                    </td>
                    <td class="fw-medium" *ngIf="data.status.status_id===2">
                        <button class="btn btn-success" (click)="edit(data.employee_id)">Generate Salary</button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-success">Generate Salary for all employees</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
