<div class="container-fluid">
    <div class="card mt-5">
      <div class="card-body text-uppercase">
        <h5 class="card-title fw-semibold mb-4">Generate Salary For This Month </h5>
        <div class="card">
          <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="employeeSelect" class="form-label">Choose Employee Name</label>
                    <select class="form-select" id="employeeSelect" aria-label="Select employee" name="name" [(ngModel)]="employee.name">
                      <option value="" selected disabled>Select an employee</option>
                      
                      <option *ngFor="let data of employeeArray" value="{{data.employee_id}}">{{data.employee_name}}</option>
                      
                      
                    </select>
                  </div>
                  
              
              
              <button type="submit" (click)="generate()" class="btn btn-primary text-uppercase">Generate</button>
            </form>
          </div>
        </div>
        
        
    </div>
    
</div>