<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Employee Dashboard</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
  <style>
    
    
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row mt-5">
      
      <div class="col-lg-12 mb-4">
        <div class="d-flex justify-content-between align-items-center">
          
          
            <div class="name">Welcome {{employeename}}</div>
            <div class="post">{{post}}</div>
          
        </div>
      </div>

      
      <div class="col-lg-12 mb-4">
        <div class="card overflow-hidden">
          <div class="position-relative">
            <a href="javascript:void(0)">
              <img src="assets/images/blog/blog-img1.jpg" class="card-img-top" alt="Blog Image 1">
            </a>
            
            <img src="assets/images/profile/user-3.jpg" alt="Profile Image 1" class="img-fluid rounded-circle position-absolute bottom-0 start-0 m-2" width="35" height="35" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Georgeanna Ramero">
          </div>
          
          
        </div>
      </div>

      

      
      
    </div>
  </div>

  <script>
    
    document.getElementById('todayDate').textContent = new Date().toLocaleDateString();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
