.logo-img {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
  
  .logo-img img {
    max-width: 100%; 
    height: auto; 
  }
  
i{
    margin-right: 15px;
}

