<div class="container-fluid">
    <div class="card mt-5">
      <div class="card-body text-uppercase">
        <h5 class="card-title fw-semibold mb-4">Add Employee Form</h5>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Employee Name </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Employee Mail </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Employee Post </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Basic Pay </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Create ZooHR ID </label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Create Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Retype Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              
              <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
          </div>
        </div>
        
        
    </div>
    
</div>