<div class="container-fluid">
    <div class="card mt-5">
      <div class="card-body text-uppercase">
        <h5 class="card-title fw-semibold mb-4">Update Policy Form</h5>
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Casual Leave Per Year </label>
    <input type="text" class="form-control" id="employeeName" name="casualyr" [(ngModel)]="leave.casualyr">
  </div>

  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Sick Leave Per Year </label>
    <input type="text" class="form-control" id="employeeName" name="sickyr" [(ngModel)]="leave.sickyr">
  </div>

  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Half Leaves Per Year </label>
    <input type="text" class="form-control" id="employeeName" name="halfyr" [(ngModel)]="leave.halfyr">
  </div>
  
  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Casual Leave Per Month </label>
    <input type="text" class="form-control" id="employeeName" name="casualmonth" [(ngModel)]="leave.casualmonth">
  </div>

  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Sick Leave Per Month </label>
    <input type="text" class="form-control" id="employeeName" name="sickmonth" [(ngModel)]="leave.sickmonth">
  </div>

  <div class="mb-3">
    <label for="employeeName" class="form-label">Enter Half Leave Per Month </label>
    <input type="text" class="form-control" id="employeeName" name="halfmonth" [(ngModel)]="leave.halfmonth">
  </div>
  
  
  
  <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
</form>

          </div>
        </div>
        
        
    </div>
    
</div>