
        <div class="container-fluid">
          <div class="row">
            
            <div class="col-lg-8">
              <div class="card mt-5">
                <div class="card-body">
                  
                  <div class="table-responsive">
                    <table class="table text-nowrap align-middle mb-0">
                      <thead>
                        <tr class="border-2 border-bottom border-primary border-0">
                          <th scope="col" class="ps-0">ID</th>
                          <th scope="col" class="ps-0">Employee Name</th>
                          <th scope="col">Post</th>
                          <th scope="col" class="text-center">status</th>
                          <th scope="col" class="text-center"></th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <tr *ngFor="let data of employeeArray,let i = index">
                          <th scope="row" class="ps-0 fw-medium">
                            <span class="table-link1 text-truncate d-block">{{i+1}}</span>
                          </th>
                          <th scope="row" class="ps-0 fw-medium">
                            <span class="table-link1 text-truncate d-block">{{data.employee_name}}</span>
                          </th>
                          <td>
                            <span class="table-link1 text-truncate d-block">{{data.post}}</span>
                          </td>
                          <td class="text-center fw-medium"><span class="table-link1 text-truncate d-block">{{data.status.status_name}}</span></td>
                          <td class="text-center fw-medium">
                              <button *ngIf="data.status.status_id === 6" class="btn btn-danger" (click)="block(data.employee_id)">Block</button>
                              <button *ngIf="data.status.status_id === 7" class="btn btn-success" (click)="unblock(data.employee_id)">UnBlock</button>
                            
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card mt-5">
                <div class="card-body text-center">
                  
                      
                   
                  <div class="row">
                    <div class="col-4">
                      
                      <span class="fs-11 mt-2 d-block text-nowrap">employees</span>
                      <h5 class="mb-0 mt-1">{{countArray.employeeCount}}</h5>
                    </div>
                    <div class="col-4">
                      
                      <span class="fs-11 mt-2 d-block text-nowrap">messages</span>
                      <h5 class="mb-0 mt-1">{{countArray.messageCount}}</h5>
                    </div>
                    <div class="col-4">
                      
                      <span class="fs-11 mt-2 d-block text-nowrap">leave requests</span>
                      <h5 class="mb-0 mt-1">{{countArray.leaveCount}}</h5>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div class="row">
            
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    
                    <div class="table-responsive">
                      <table class="table text-nowrap align-middle mb-0">
                        <thead>
                          <tr class="border-2 border-bottom border-primary border-0">
                            <th scope="col" class="ps-0">Date</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col" class="text-center">Subject</th>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-center"></th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          <tr *ngFor="let data of messageArray">
                            <th scope="row" class="ps-0 fw-medium">
                              <span class="table-link1 text-truncate d-block">{{data.date}}</span>
                            </th>
                            <td>
                              <span class="table-link1 text-truncate d-block">{{data.employee.employee_name}}</span>
                            </td>
                            <td class="text-center fw-medium"><span class="table-link1 text-truncate d-block">{{data.subject}}</span></td>
                            <td class="text-center fw-medium">
                                <button class="btn btn-success" (click)="view(data.id)">View</button>
                                
                            </td>
                            <td class="text-center fw-medium">
                            <button class="btn btn-danger" (click)="delete(data. id)">Delete</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-lg-4">
              <div class="card overflow-hidden hover-img">
                <div class="position-relative">
                  <a href="javascript:void(0)">
                    <img src="../assets/images/blog/blog-img1.jpg" class="card-img-top" alt="matdash-img">
                  </a>
                  <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min Read</span>
                  
                </div>
                
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card overflow-hidden hover-img">
                <div class="position-relative">
                  <a href="javascript:void(0)">
                    <img src="../assets/images/blog/blog-img2.jpg" class="card-img-top" alt="matdash-img">
                  </a>
                  <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min Read</span>
                  
                </div>
                
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card overflow-hidden hover-img">
                <div class="position-relative">
                  <a href="javascript:void(0)">
                    <img src="../assets/images/blog/blog-img3.jpg" class="card-img-top" alt="matdash-img">
                  </a>
                  <span class="badge text-bg-light text-dark fs-2 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min Read</span>
                  
                </div>
                
              </div>
            </div>
            
          </div>
        </div>
      
      
